body {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

footer {
   position:absolute;
   bottom:1rem;
   height: 5vh;
   width:100%;
}

main {
    height: 85vh;
}

button {
    font-family: inherit;
}

.hidden {
    display: none;
}

.section-border {
    border: 10px;
    border-color: var(--secondary);
    border-style: solid;
    border-radius: 1%;
}

.win-border {
    border: 15px;
    border-color: var(--warning);
    border-style: solid;
    border-radius: 1%;
}

.icon-border {
    border: 3px;
    border-color: var(--secondary);
    border-style: solid;
    border-radius: 1%;
}

.o-100 {
    opacity: 100%;
}

.bg-main {
    background: url(./assets/backgrounds/main-bg.png) no-repeat center center;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}

.bg-main-0 {
    background: url(./assets/backgrounds/main-1-bg.png) no-repeat center center;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}

.bg-main-2 {
    background: url(./assets/backgrounds/main-2-bg.png) no-repeat center center;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}

.bg-main-3 {
    background: url(./assets/backgrounds/main-3-bg.png) no-repeat center center;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}

.bg-shop-0 {
    background: url(./assets/backgrounds/shop-0-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-shop-1 {
    background: url(./assets/backgrounds/shop-1-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-shop-2 {
    background: url(./assets/backgrounds/shop-2-bg.png) no-repeat center center;
    background-size: cover;
    background-position:top;
    height: 100%;
    overflow: hidden;
}

.bg-shop-3 {
    background: url(./assets/backgrounds/shop-3-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-boss-0 {
    background: url(./assets/backgrounds/boss-0-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-boss-1 {
    background: url(./assets/backgrounds/boss-1-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-boss-2 {
    background: url(./assets/backgrounds/boss-2-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-boss-3 {
    background: url(./assets/backgrounds/boss-3-bg.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    overflow: hidden;
}

.bg-transparent {
    background-color: transparent;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: pointer;
}

.tiny-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.battle-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.buff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.no-select {
  user-select: none;
}